.home {
  text-align: center;
  padding: 20px;
}
.heroSection {
    flex: 0 0 auto;          
    margin-bottom: 20px;    
}

.headline {
  font-size: 2em;
  margin-bottom: 20px;
  color: #2c3e50;
  text-align: center;
  width: 100%;
}
.subline {
  font-size: 1.2em;
  color: #636e72;
  margin-bottom: 40px;
}

.infoSection {
   flex: 0 1 auto;          
    display: flex;
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto; 
    direction: rtl;
    align-items: stretch;    
    gap: 25px;
    width: 100%;
    height: 52vh;
}

.stepsGrid {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
    direction: rtl; 
}
.step {
   flex: 1; 
    background: white;
    padding: 30px 20px;      
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    transition: transform 0.3s ease;
}
.step:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.1);
}

.stepIcon {
    font-size: 4rem;         
    margin-bottom: 15px;
    color: #708ee0fd;
}

.step h3 {
    font-size: 1.8rem;       
    color: #2c3e50;
    margin-bottom: 10px;
}

.step p {
    font-size: 1.15rem;      
    color: #636e72;
    line-height: 1.5;
    max-width: 85%;
}

@media (max-width: 768px) {
    .stepsGrid {
        grid-template-columns: 1fr;
    }
}
