
.StatCard {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    min-width: 130px;
    justify-content: center;
}

.statCard p {
    margin: 0;
}

.newLabel {
    color: #007bff;
    font-weight: bold;
}

.urgentLabel {
    color: #ff0000;
    font-weight: bold;
}

.processLabel {
    color: #6c757d;
    font-weight: bold;
}